In [1]:
import numpy as np
import pandas as pd

file_path = "BTCUSDT-trades-2023-{}.csv".format("01")

# 로드할 열의 리스트
selected_columns = ["quote_qty", "time", "is_buyer_maker"]
df = pd.read_csv(file_path, usecols=selected_columns)

C:\Users\Taewan\AppData\Local\Temp\ipykernel_21468\3910376329.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [12]:
len(df)

78708882

In [16]:
import pandas as pd

def find_max_consecutive_counts(df):
    # 'is_buyer_maker' 열의 값이 True 또는 False인 경우 각각 최대 연속 횟수를 찾음
    consecutive_true_counts = []
    consecutive_false_counts = []
    current_true_count = 0
    current_false_count = 0

    for i,value in enumerate(df['is_buyer_maker']):
        if i in [1000000*j for j in range(1000)]:
            print(i)
        if value:
            current_true_count += 1
            current_false_count = 0
        else:
            current_false_count += 1
            current_true_count = 0

        consecutive_true_counts.append(current_true_count)
        consecutive_false_counts.append(current_false_count)

    # 최대 연속 횟수 계산
    max_consecutive_true = max(consecutive_true_counts)
    max_consecutive_false = max(consecutive_false_counts)

    return max_consecutive_true, max_consecutive_false

# 최대 연속 횟수 계산 및 출력
max_consecutive_true, max_consecutive_false = find_max_consecutive_counts(df)
print(f"최대 연속 True 횟수: {max_consecutive_true}")
print(f"최대 연속 False 횟수: {max_consecutive_false}")

0
1000000

KeyboardInterrupt:

In [17]:
df=pd.read_csv("df.csv")

In [19]:
df2=pd.read_csv("ohlcv_baseline.csv")

In [24]:
744*4-24*4

2880

In [42]:
df2['time'].iloc[2879]

'2023-04-30 23:00:00'

In [43]:
df['time']=df2['time'].iloc[:2880]

In [44]:
# 'time' 열을 맨 앞 열로 이동
time_column = df.pop('time')
df.insert(0, 'time', time_column)

df.iloc[:744,:].to_csv("jan_vol.csv")

In [45]:
df.iloc[744:744+24*28].to_csv("feb_col.csv")

,time,Open,High,Low,Close,Volume,returns,volatility
1416,2023-03-01 00:00:00,23129.7,23209.6,23008.4,23090.3,23775.114,NaN,NaN
1417,2023-03-01 01:00:00,23090.2,23288.0,23063.2,23236.3,20834.415,0.006323,NaN
1418,2023-03-01 02:00:00,23236.3,23324.0,23221.7,23318.9,11669.677,0.003555,NaN
1419,2023-03-01 03:00:00,23318.9,23488.2,23292.3,23431.6,38590.226,0.004833,NaN
1420,2023-03-01 04:00:00,23431.6,23852.6,23414.8,23788.2,49719.278,0.015219,NaN
...,...,...,...,...,...,...,...,...
2155,2023-03-31 19:00:00,28307.7,28522.0,28270.0,28459.0,22687.061,0.005348,0.004822
2156,2023-03-31 20:00:00,28458.9,28464.9,28322.0,28378.6,14577.547,-0.002825,0.004602
2157,2023-03-31 21:00:00,28378.6,28597.1,28347.9,28468.3,12312.629,0.003161,0.004570
2158,2023-03-31 22:00:00,28468.4,28632.5,28425.6,28560.5,15749.336,0.003239,0.004602
2159,2023-03-31 23:00:00,28560.5,28589.8,28454.8,28454.9,8858.776,-0.003697,0.004709

In [47]:
df.iloc[2160:2160+720].to_csv("apr_col.csv")